<form method="POST" action="/new">
  <label>Graphics Card</label>
  <input type="text" name="name" />
  <label>Manufacturer</label>
  <input type="text" name="manufacturer" />
  <button>Submit</button>
</form>
