<form method="POST" action="/parts/create">
  <label>Name</label>
  <input type="text" name="partName" />
  <label>Part Type</label>
  <input type="text" name="type" />
  <label>Manufacturer</label>
  <input type="text" name="manufacturer" />
  <label>Quantity</label>
  <input type="number" name="quantity" />
  <button>Submit</button>
</form>
